#lightbox{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
  line-height: 0;
  }
#lightbox a img{ border: none; }

#outerImageContainer{
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  }
#imageContainer{
  padding: 10px;
  }
#loading{
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
  }
#hoverNav{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}
#prevLink, #nextLink{
  width: 49%;
  height: 100%;
  background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
  display: block;
  }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prev.gif) left 50% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/next.gif) right 50% no-repeat; }

#imageData #imageDetails{ padding:10px 0 0 0;width: 70%; float: left; text-align: left; }
#imageData #caption{ font-weight: bold;font-size:11px;  }
#imageData #numberDisplay{ float:left;padding:10px 0 0 30px;display:inline;font-weight: bold;font-size:11px;  }
#imageData #bottomNavClose{ width: 25px; float: right;   padding:5px 5px 0 0;margin:0 0 0 0;}

/*** START : next / previous text links ***/
#nextLinkText, #prevLinkText{
color: #FF9834;
font-weight:bold;
text-decoration: none;
 
}
#nextLinkText{
padding-left: 0;
}
#prevLinkText{
padding-right: 0;
}
/*** END : next / previous text links ***/
/*** START : added padding when navbar is on top ***/

.ontop #imageData {
    padding-top: 5px;
}
/*** END : added padding when navbar is on top ***/

#imageDataContainer{
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
    line-height: 1.4em;
    padding:0 0 10px 0;
  }
#imageDataContainer .imageDataContainer-helper {
  font: 10px Arial, Verdana, Helvetica, sans-serif;
  background-color:#ECE7E7;
  line-height: 1.4em;
  display:block;
  float:left !important;
  float:none;
  margin: 10px 0 0 10px !important;
  margin: 10px 0 0 0px;
  }
#imageData{
  padding:0 10px;
  }
#imageData #helpDisplay {clear: left; float: left; display: block; }

#overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
  background-color: #000;
  -moz-opacity: 0.6 !important;
  opacity: 0.6 !important;
  display: none;
  }
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
  }
* html>body .clearfix {
  display: inline-block; 
  width: 100%;
  }
* html .clearfix {
  /* Hides from IE-mac \*/
  height: 1%;
  /* End hide from IE-mac */
  }  
  
#modal{
  top: 30%;
  text-align: center;
  width: 100%;
  position:fixed;
  z-index:100;
}

.modal-box{
  width: 700px;
  background: white;
  padding: 40px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

#modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100%;
  background-color: #000;
  -moz-opacity: 0.6 !important;
  opacity: 0.6 !important;
  display: none;
  }
